.icons {
    width: 20px;
}

.icons-2 {
    width: 28px;
}

.logo {
    color: white;
    font-family: "Lexend Tera", sans-serif;
    font-size: 24px;
}

.story-section {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 40px;
    margin: 40px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 960px;
}

.story-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.story-paragraph {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

@font-face {
    font-family: "Lexend Tera";
    font-style: normal;
    font-weight: 400;
    font-display: block;
}
