#selection {
    position: absolute;
    bottom: -125px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#selection-back {
    position: absolute;
    bottom: -125px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1334.89px;
    height: 129.57px;
}

.icons {
    width: 20px;
}

.icons-2 {
    width: 28px;
}

.logo {
    font-family: "Lexend Tera", sans-serif;
}

@font-face {
    font-family: "Lexend Tera";
    font-style: normal;
    font-weight: 400;
    font-display: block;
}
