header {
    color: white;
}

main {
    background: white;
}

body {
    font-family: "Saira Condensed", sans-serif;
    color: black;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    animation: scrollText 25s linear infinite;
}

/* Ajout de défilement horizontal pour les tableaux sur petits écrans */
.overflow-x-auto {
    overflow-x: auto; /* Active le défilement horizontal si nécessaire */
}

@media screen and (max-width: 640px) {
    table {
        display: block;
        width: 100%;
        overflow-x: auto; /* Assure le défilement horizontal */
    }

    table thead {
        display: none; /* Cache l'en-tête sur les petits écrans */
    }

    table tbody tr {
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table tbody tr td {
        display: block;
        text-align: right;
        padding-left: 50%; /* Ajustez selon vos besoins */
        text-align: right;
        position: relative;
    }

    table tbody tr td:before {
        /* Utilisez ::before pour créer des étiquettes pour les données */
        content: attr(
            data-label
        ); /* Utilise le contenu de l'attribut data-label de td */
        position: absolute;
        left: 0;
        width: 50%; /* Ajustez selon vos besoins */
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
